<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css'
        integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=='
        crossorigin='anonymous' />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">
                    Personal Info
                </h2>

                <h4>Your Form</h4>
                <form action="">
                    <div class="form_wrapper">
                        <div class="form-group">
                            <label for="" class="form-label">Name:</label>
                            <input type="text" name="name_value" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="" class="form-label">Number: </label>
                            <input type="number" name="number_value" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Country: </label>
                            <input type="text" name="country_value" class="form-control">
                        </div>
                        <div class="form-group">
                            <button id="form_submit" type="button">Submit</button>
                        </div>
                    </div>
                </form>

                <h4>
                    Table View
                </h4>

                <table>
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>Name</th>
                            <th>
                                Number
                            </th>
                            <th>
                                Country
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table_body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'
        integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=='
        crossorigin='anonymous'></script>

    <script>
        function getAjax() {
            $('#table_body').html(`<tr> <td colspan="4" class="text-center"> <div class="p-3 text-center"> <span class="spinner-border"> </span> </div> <td> </tr>`)
            $.ajax({
                url: '/api/personal',
                method: 'get',
                success: function (data) {
                    // console.log(data)
                    $('#table_body').html('')
                    data.forEach((v, i) => {
                        $('#table_body').append(`
                            <tr> 
                                <td> ${i + 1} </td>
                                <td> ${v.name} </td>
                                <td> ${v.number} </td>
                                <td> ${v.country} </td>
                                </tr>
                        `)
                    })
                },
                error: function (data) {

                }
            })
        }

        getAjax() // init

        function postAjax() {
            const ajax_data = {
                name: $('[name="name_value"]').val(),
                number: $('[name="number_value"]').val(),
                country: $('[name="country_value"]').val(),
            }

            $('#form_submit').addClass('disabled').attr('disabled', 'disabled')
            $.ajax({
                url: '/api/personal',
                method: 'post',
                data: ajax_data,
                headers: {
                    'X-CSRF-TOKEN': '{{csrf_token}}'
                },
                success: function (data) {
                    console.log(data)
                    $('#form_submit').removeClass('disabled').removeAttr('disabled');
                    getAjax() // update

                },
                error: function (data) {
                    console.log(data)
                    $('#form_submit').removeClass('disabled').removeAttr('disabled')

                }
            })
        }

        $('#form_submit').on('click', function () {
            let _self = $(this);
            postAjax() // init
        })

        
    </script>
</body>

</html>